version: "3.8"
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:${STACK_VERSION}
    container_name: elasticsearch
    volumes:
      - ./elasticsearch/data:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    deploy:
      resources:
        limits:
          memory: 1GB
    environment:
      - xpack.security.enabled=false
      - node.name=${ELASTICSEARCH_NODE_NAME}
      - cluster.name=${ELASTICSEARCH_CLUSTER_NAME}
      - cluster.initial_master_nodes=${ELASTICSEARCH_CLUSTER_INITIAL_MASTER_NODES}
      - bootstrap.memory_lock=true
      - ELASTIC_PASSWORD=${ELASTICSEARCH_PASSWORD}
      - discovery.seed_hosts=${ELASTICSEARCH_DISCOVERY_SEED_HOSTS}
    env_file:
      - .env

  kibana:
    image: docker.elastic.co/kibana/kibana:${STACK_VERSION}
    volumes:
      - ./kibana/data:/usr/share/kibana/data
    ports:
      - "5601:5601"
    environment:
      - SERVERNAME=kibana
      - ELASTICSEARCH_HOSTS=${KIBANA_ELASTICSEARCH_HOSTS}
      - ELASTICSEARCH_USERNAME=kibana_system
      - ELASTICSEARCH_PASSWORD=${KIBANA_PASSWORD}
    deploy:
      resources:
        limits:
          memory: 1GB
    env_file:
      - .env
